notificationapi:
  client-id: ${NOTIFICATIONAPI_CLIENT_ID}
  client-secret: ${NOTIFICATIONAPI_CLIENT_SECRET}


spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-l7bs34cafn0six34.us.auth0.com/
          audience: https://ucochallenge-api/
